/* Jquery Project*/

/* Fit for Flex */

/* HTML, BODY CSS, JS*/

body {
    background: url('../images/bgwallpaper.jpg') repeat center;
}

/* Header*/

h1 {
    font-size: 43px;
    border: solid 7px #0021A5;
    background: #fff;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: 'Monoton', cursive;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
.media { 
    min-width: 0;
    margin: 5px;
}

img {
    width: 450px;
    max-width: 100%; 
    max-height: 450px; 
    margin-top: 10px;
}
 

/* Body*/

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
}

h4 {
    padding-top: 10px;
}

h5 {
    font-size: 12px;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    font-family: 'Monoton', cursive;
}


.side {
    padding: 5px;
    position: relative;
    border-top: dashed #0021A5 2px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

span {
    border: solid #0021A5 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #FA4616; 
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.background {
    border-top: dotted 2px #fff;
    border-bottom: dotted 2px #fff;
    margin-top: 5px;
}

.container {
    background-color: #fff;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    border: solid 10px #0021A5;
}

/* Content */

#answer {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}